.first-header{
    
    width: 100%;
    
    
}
.navbar{
    background-color: white !important;
}
/* .container-fluid{
    background-color: white;
} */
.btnMenu{
    display: none ;
    margin-bottom: 45px;
    
}





@media  (max-width:991px){
    .btnMenu{
        display: block;
        float: right !important;
        width: 80px;
        background-color: transparent !important;
        height: 26px;

    }
}