.first-header{
    
    width: 100%;
    
    
}
.navbar{
    background-color: white !important;
}
/* .container-fluid{
    background-color: white;
} */
.btnMenu{
    display: none ;
    float: top;
    
}
a.active #link{
    border-bottom: 2px solid var(--violet)  ;
    font-weight: bold;
    color: black;

}
#link-serv:hover{
    color: var(--violet);
}
.offcanvas-body{
    background: linear-gradient(rgb(244, 239, 255), white);
}
a{
    color: #717171;
    text-decoration: none;
}
a:hover{
    color: #000000;
    text-decoration: none;
}
.navbar-toggler{
    height: 50px;
    width: 200px;
}
@media  (max-width:991px){
    .btnMenu{
        display: block;
        float: right !important;
        width: 80px;
        background-color: transparent !important;
        height: 26px;

    }
}